@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
#topbar{    
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px 8%;
    background-color: #fff;
    box-shadow: 0 2px 5px #ccc;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left:0;
    z-index: 6;
}
.left-menu{
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.middle-menu{
    width: 100%;
    max-width: 400px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    
}
.right-menu{
    display:flex;
    justify-content: space-between;
    align-items:center;

}
#logo{
    font-size:36px;
    text-transform: uppercase;    
    margin-right: 16px;
    margin-left: 0;

}
#logo a{
    text-decoration:none ;
    color: black;   
    font-weight: 400;

}
#logo span{
    font-weight: 800;
}
.left-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-left: 32px;
    font-weight: 600;
    display: block;

}
.middle-menu i{
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    display: block;
}
#search-box{
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
  
}
#cart{
    position: relative;
    margin-right: 32px;

}
#cart-count{
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;

}
#cart a{
    text-decoration: none;
    color: black;
}
#cart i{
    font-size: 18px;
    cursor: pointer;
}
.right-menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
main{  
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 80px;
   
}
.slideshow{
    display:flex;
    width: 100%;
    justify-content: center;   
    padding-top: 80px;
    padding-bottom: 120px;   
    
    background-color: rgb(139,189,239);
    box-sizing: border-box ;
}
.content{
    width:700px ;
    height: 300px;

}
.carrausel{
    position: relative;   
    width: 100%;
    height: 140px;
    transform-style: preserve-3d;
    animation: animate 55s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.carrausel span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 300px;
    transform-origin: center;
    transform-style: preserve-3d;

}
.carrausel span img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 220px;
    cursor: pointer;
    object-fit: fill;
}
.carrausel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.image1{
    transform: rotateY(90deg) translateZ(350px);
}
.image2{
    transform: rotateY(180deg) translateZ(350px);
}
.image3{
    transform: rotateY(270deg) translateZ(350px);
}
.image4{
    transform: rotateY(360deg) translateZ(350px);
}

#clothing-section{
    background-color: #F5A787;
    padding: 4% 8% 0;
}
#accessory-section{
    padding: 4% 8% 0;
    background-color: #FFD67E;
    padding-bottom: 8%;
    box-sizing: border-box;    

}
.head-text{
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
}
.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-card {
    width: 200px;
    min-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 32px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 2px 5px rgb(0 0 0 / 60%);
  } 
.product-card > a {
    text-decoration: none;
    color: black;
}
.product-image{
    width:100%;
}
.product-meta {
    box-sizing: border-box;
    padding: 16px;
    
}
.product-card:hover .product-meta{
    background-color:#ddd;
}
.product-meta > h4 {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}
.product-meta > h5 {
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
    margin-top: 12px;
}
.product-meta > p {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #009688;
}
footer{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding: 4% 8%;
    background-color: #1c1b1e;
    box-sizing: border-box;
    
}
footer div{
    width:25%;
    height: auto;
    padding:0 10px; 
}

.footer-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}
.footer-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}
#edyoda-projects-logo {
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transform-style: preserve-3d;
    animation: animate 25s linear infinite;
}
@media screen and (max-width:1024px){
    #logo a{
        margin-left: 16px;
       }
    .slideshow{
        max-width:100%;
    }
    .content{
        width:620px;
        height:240px;
    }
    .image1{
        transform: rotateY(90deg) translateZ(310px);
    }
    .image2{
        transform: rotateY(180deg) translateZ(310px);
    }
    .image3{
        transform: rotateY(270deg) translateZ(310px);
    }
    .image4{
        transform: rotateY(360deg) translateZ(310px);
    }

}
@media screen and (max-width:786px){
    #logo a{
        margin-left: 12px;
       }
    #topbar{
        padding: 16px 4%;
    }
    .left-menu>a{
        display: none;
    }
    .slideshow{
       padding-top: 60px;
    }
    .content{
        width:500px;
        height:200px;
    }
    .image1{
        transform: rotateY(90deg) translateZ(250px);
    }
    .image2{
        transform: rotateY(180deg) translateZ(250px);
    }
    .image3{
        transform: rotateY(270deg) translateZ(250px);
    }
    .image4{
        transform: rotateY(360deg) translateZ(250px);
    }
    footer{
        flex-wrap: wrap;
    }
    footer div{
       width: 40%;
       margin-bottom: 10px;
    
    } 
    
  }
  @media screen and (max-width:600px){
    #logo a{
        margin-left: 10px;
       }
    .slideshow{
        padding-top: 50px;
    }
    .content{
        width:380px;
        height:170px;
    }
    .image1{
        transform: rotateY(90deg) translateZ(190px);
    }
    .image2{
        transform: rotateY(180deg) translateZ(190px);
    }
    .image3{
        transform: rotateY(270deg) translateZ(190px);
    }
    .image4{
        transform: rotateY(360deg) translateZ(190px);
    }
  }
  @media screen and (max-width:479px){
   #logo a{
    margin-left: 8px;
   }
    .slideshow{
        padding-top: 40px;
    }
    .content{
        width:300px;
        height:150px;
    }
    .image1{
        transform: rotateY(90deg) translateZ(150px);
    }
    .image2{
        transform: rotateY(180deg) translateZ(150px);
    }
    .image3{
        transform: rotateY(270deg) translateZ(150px);
    }
    .image4{
        transform: rotateY(360deg) translateZ(150px);
    }
    .middle-menu{
        display: none;
    }
   
  }


